@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ECF0F3;
}

/*Global Tags*/

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span{
    font-size: .9rem;
    color: #757373;
}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),url(images/hero-bg-3.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    text-align: center;
}

/*navigation*/

nav{
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    position: fixed;
    z-index: 999;
}

nav.scrolled {
    background: linear-gradient(145deg, #ff014f, #d11414);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

nav img{
    width: 70px;
    cursor: pointer;
}

nav .navigation{
    display: flex;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close{
    display: none;  
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s ease;
}


/*Home*/

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 250px;
}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home .icon-para{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#home p{
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
    padding-left: 10px;
}

#home .icon-para img{
    width: 40px;
    height: 40px;
}

#home .btn{
    margin-top: 50px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue{
    color: #fff;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
    letter-spacing: 2px;
}


/*features*/

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .main-box{
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url(images/features-bg.jpg);
    padding: 50px 30px 80px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:1rem;
    margin-top: 50px;

}

#features .fea-box{
    background: transparent;
    text-align: start;
    padding: 20px 20px 20px 20px;
}

#features .fea-box:hover{
    transform: translateY(-5px);
}

#features .fea-box i{
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 20px;
    font-size: 2.3rem;
    color: rgb(13, 1, 65);
}

#features .fea-box:hover i{
    background: linear-gradient(145deg, #ff014f, #d11414);
    color: #fff;
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(219, 219, 228);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/*courses*/

#trending{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#trending .trending-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;   
}

#trending .trendings{
    text-align: center;
    height: 100%;
    position: relative;
}

#trending .trendings img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#trending .trendings .details{
    padding: 25px 15px 0 15px;
}

#trending .trendings .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 60px;
}

#trending .trendings:hover{
    transform: translateY(-5px);
}

#trending .trendings:hover .cost{
    background: linear-gradient(145deg, #ff014f, #d11414);
}


#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img{
    width: 60%;
    padding-right: 60px;
}

#about-container .about-img img{
    width: 100%;
}

#about-container .about-text{
    width: 40%;
}

#about-container .about-text h2{
    color: #293038;
    padding-bottom: 15px;
}

#about-container .about-text p{
    color: #686f7a;
    font-weight: 300;
}

#about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-fe img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text{
    width: 90%;
}

#about-container .about-text .about-fe .fe-text h5{
    font-size: 16px;
    color: #293038;
}

#trust{
    text-align: center;
    padding: 3vw 8vw 8vw 8vw;
}

#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trust .trust-img img{
    width: 100px;
    height: auto;
}

#trust .trust-img img:hover{
    transform: translateY(-10px);
}

/*price*/

/* Price Section */
#price {
    padding: 80px 0;
    text-align: center;
}

.price-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.price-item {
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px;
    transition: transform 0.3s;
}

.price-item:hover {
    transform: scale(1.05);
}

.price-item h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}


.price {
    font-size: 30px;
    font-weight: 700;
    color: rgb(35, 35, 85);
    margin: 10px 0 30px 0;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.subscribe-button {
    background: linear-gradient(145deg, #ff014f, #d11414);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background: linear-gradient(145deg, #dd0a49, #be0a0a);
}


/*contact page*/

#contact {
    padding: 5vw 8vw 8vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .form{
    width: 100%;
    background-color: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 15px;
}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: linear-gradient(145deg, #ff014f, #d11414);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}


/*footer*/

footer{
    padding: 8vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),url(images/footer-bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: rgb(241, 240, 245);
}

footer p{
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 15px 12px;
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    
}

footer .subscribe a.yellow{
    color: #ffffff;
    background: linear-gradient(145deg, #ff014f, #d11414);
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover{
    color: rgb(0, 0, 0);
    background:#fff;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: #fff;
}

footer .copyright .pro-links{
    margin-top: 0;
}

footer .copyright .pro-links i{
    box-sizing: border-box;
    border-radius: 50%;
    padding: 10px 13px;
    background-color: #5f7185;
    color: #fff;
}
footer .copyright .pro-links i:hover{
    background: linear-gradient(145deg, #ff014f, #d11414);
    color:#ffffff;
    transform: translateY(-5px);
    transition: .5s;
}



/*Responsive Part*/

@media (max-width: 768px){

    /*home*/
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 70px;
    }

    #menu-btn{
        display: initial;
    
    }
    
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;  
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active{
        right: 0;
    }

    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0; 
    }

    nav .navigation ul li a{
        color: #fff;
    }

    #home {
        padding-top: 250px;
    }

    #home .icon-para {
        display: inline-block;
    }

    #home p {
        width: 90%;
        
    }
    #features {
        padding: 8vw 4vw 0 4vw;  
    }

    #course {
        padding: 8vw 4vw 0 4vw;
        
    }

    footer .copyright .pro-links {
        margin-top: 15px;
    }

    /*about*/

    #about-container {
        padding: 8vw 4vw 2vw 4vw;
    }

    #about-container .about-img {
        padding-right: 30px;
    }

    #trust .trust-img img {
        width: 50px;
        height: auto;
    }

    /*contact*/

    #contact {
    padding: 8vw 4vw;
    }


}

@media(max-width:475px){

    /*about*/

    #about-container {
        flex-direction: column-reverse;
    }

    #about-container .about-img {
        width: 100%;
        padding-right: 0px;
    }

    #about-container .about-text {
        width: 100%;
        padding-bottom: 20px;
    }

    #trust .trust-img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #trust .trust-img img {
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }

    /*contact*/

    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }

    #contact .form {
        width: 100%;
        padding: 40px 30px;
    }

    #contact .form .form-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #contact .form .form-row input{
        width: 100%;
    }
}

@media(max-width:376px){
    footer input{
        width:100%;
        margin-bottom: 20px;
    }
}

@media(max-width:325px){

}


#features .fea-base {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-gap: 1rem;
    margin-top: 50px;
}